<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .text-danger {
            color: #dc3545 !important
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body class="text-center">
    <div style="width: 800px !important; margin:0 auto;">
        <div>
            <img src="https://parsware.com/wp-content/uploads/2018/11/node-w.png" alt="Node">
        </div>
        <h4>Thank you for registering with this Express API.</h4>
        <p>
            <a href="{{appUrl}}?token={{token}}">Confirm your email address.</a>
        </p>
        <br>
        <p>
            If the above link does not work then copy and paste this url into your browser.
            <br>
            <em>
                <a href="{{appUrl}}?token={{token}}">{{appUrl}}?token={{token}}</a>
            </em>
        </p>
        <small class="text-danger">This email will expire in {{expiryTime}} minutes.</small>
        <br>
        <small class="text-danger">You must confirm your email address to enable your account features.</small>
    </div>
</body>

</html>